@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    ---font-principal: 'League Spartan', sans-serif;
    ---black: #333333;
    ---brown: #3F2305;
    ---yellow-1: #F2EAD3;
    ---yellow-2: #DFD7BF;
    ---yellow-3: #A4907C;
    ---gradient: #DFD7BF00;
    ---shadow: #102C5733;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(---font-principal);
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(---brown);
    height: 6.25rem;
}
#menu{
    display: flex;
    list-style: none;
    gap: 1.25rem;
}
#menu a{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(---yellow-1);
}
#menu a:hover{
    color: var(---yellow-3);
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(---yellow-1);
}
.movie{
    display: flex;
    margin-top: 100px;
    padding: 1rem;
}
.descri-movie{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 1.5rem;
}
.descri-movie h3{
    color: var(---brown);
}
.descri-movie span{
    color: var(---black);
}
.top-descri h1{
    color: var(---brown);
    font-size: 3rem;
}
.top-descri span{
    color: var(---yellow-3);
    font-weight: lighter;
}
.down-descri{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 820px;
    gap: 10px;
}
.infos{
    display: flex;
    gap: 10px;
}
.infos.left{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
}
.infos.right{
    display: flex;
    flex-direction: column;
}
.container-carrosel{
    background-color: var(---yellow-2);
    width: 100%;
    height: 394px;
    padding: .8rem;
}
.slides{
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: 1240px;
    overflow: auto;
    gap: 1.5rem;
}
.slide{
    transition: .3s;
}
.slider input{
    display: none;
}
#radio:checked ~ .first{
    margin-left: -10%;
}
#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}
#radio4:checked ~ .first{
    margin-left: -75%;
}
.slides::-webkit-scrollbar{
    display: none;
}
.slide-images{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .8rem;
    color: var(---black);
    text-align: center;
    transition: .2s;
}
.title-actors{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 865px;
    align-items: center;
    gap: 15px;
    margin-bottom: .8rem;
}
.title-actors h1{
    font-size: 2rem;
    color: var(---brown);
}
.title-actors a{
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    color: var(---yellow-2);
    background-color: var(---brown);
    padding: .9rem;
    width: 125px;
    border-radius: 20px;
}
.container-resenha{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 73px;
    margin-bottom: 70px;
    padding: 1rem;
}
.resenhas{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.3rem;
}
.resenha{
    display: flex;
    flex-direction: column;
    background-color: var(---yellow-2);
    width: 100%;
    max-width: 610px;
    padding: 30px;
    border-radius: 10px;
    font-size: 24px;
    gap: 30px;
    color: var(---black);
}
.resenha p{
    max-width: 550px;
}
.title-resenhas{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 1.3rem;
}
.title-resenhas h1{
    color: var(---brown);
}
.title-resenhas a{
    text-decoration: none;
    color: var(---yellow-2);
    font-size: 24px;
    padding: .7rem;
    border-radius: 20px;
    background-color: var(---brown);
}
.more{
    display: flex;
    justify-content: space-between;
}
.writer strong,
.more strong{
    color: var(---brown);
}
.rodape{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(---brown);
    color: var(---yellow-2);
    padding: 2rem;
}
#options{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-area: auto;
    list-style: none;
    gap: 1.875rem;
    font-size: 24px;
}
#btn-mobile{
    display: none;
}
@media(max-width:768px){
    #menu{
        display: none;
    }
    .movie{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 1rem;
    }
    .infos{
        display: flex;
        flex-direction: column;
    }
    #banner{
        width: 350px;
    }
    .carrosel{
        max-width: 400px;
    }
    .resenhas{
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }
    .rodape{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: left;
        gap: .8rem;
    }
    #options{
        display: flex;
        flex-direction: column;
    }
    #btn-mobile{
        display: block;
    }
    #menu{
        display: block;
        position: absolute;
        width: 100%;
        top: 85px;
        right: 0;
        background: var(---brown);
        height: 0px;
        z-index: 1000;
        transition: .6s;
        visibility: hidden;
        overflow-y: hidden;
    }
    #nav.active #menu{
        height: calc(100vh - 64px);
        visibility: visible;
        overflow-y: auto;
    }
    #menu a{
        display: flex;
        margin-top: 1rem;
        margin-block-end: .8rem;
        padding: 1rem;
        font-size: 1.5rem;
        border-bottom: 2px solid var(---yellow-1);
    }
    #btn-mobile{
        display: flex;
        padding: 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }
    #hamburguer{
        border-top: 2px solid var(---yellow-1);
        width: 30px;
    }
    #hamburguer::after, #hamburguer::before{
        content: '';
        display: block;
        width: 30px;
        height: 2px;
        background: var(---yellow-1);
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }
    #nav.active #hamburguer{
        border-top-color: transparent;
    }
    #nav.active #hamburguer::before{
        transform: rotate(135deg);
    }
    #nav.active #hamburguer:after{
        transform: rotate(-135deg);
        top: -7px;
    }
}